---
import Layout from "@/layouts/Layout.astro";
import UserPublicMessages from "@/components/UserPublicMessages.tsx";

const { userId } = Astro.params;
if (!userId) {
  return Astro.redirect("/");
}
const fromId = Astro.url.searchParams.get("from");
---

<Layout>
  <div class="flex flex-col h-full max-w-5xl mx-auto overflow-hidden">
    <UserPublicMessages userId={userId} client:only fromId={fromId} />
  </div>
</Layout>
